*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#3a1515;
}
.container{
    display: flex;
    height: 500px;
    width: 700px;
    border: 1px solid black;
    margin: auto;
    margin-top: 195px;
    box-shadow: 15px 15px 20px rgb(194, 116, 15);
}
.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    background-color: whitesmoke;
}
.form h2{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}
.box{
    padding: 12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}
#submit{
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color:white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}
#submit:hover{
    cursor: pointer;
    background-color: rgb(201, 14, 14);
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover{
    color:#fd4e4e
}
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    background-color: #fd4e4e;
}
.side img{
    width: 450px;
    height: 450px;
}


    
